@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,100&family=Montserrat:wght@100&family=Pacifico&family=Poppins:wght@300;400;500;600&display=swap');



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27c9df;
    color: white;
    box-shadow: 0 1px 2px 2px gray;


    
h1{
    font-size: 3rem;
    margin-left: 2%;
    padding: 2%;
    font-family: 'Montserrat Alternates', sans-serif;



}

    


    ul {
        padding: 2%;
        display: flex;
        align-items: center;
        justify-content:flex-end ;
        gap: 1%;
        

        li {
           font-size: 1.5rem;
           padding: 20px;
           color:white
        }
    }
}