/* .qualiteEauCarte {
    text-align: center;
    margin-top: 10%;
   padding: 1.5%;
   
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: whitesmoke;

  p{
    padding: 2%;
  }
    
} */

.qualiteEauCarte{
  text-align: center;
  margin-top: 2%;
  min-height: 400px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: whitesmoke;
  padding: 2%;


  p {
      padding-block: 24px;
     
  }

  img {
      height: 300px;
      border-radius: 20px;
  }
  button {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    background-color:#27c9df;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s;
    font-weight: 800;

    &:hover {
      background-color:#90d8e2;
    }

    
  }
}